body {
    margin: 0;
    padding: 10px 20px;
    min-width: 400px;
}
input {
  display: block;
  margin-bottom: 5px;
  width: 500px;
}

button {
    background-color: green;
    border: 1px solid black;
   


}
#box {
    color: black;
}

ul {
    list-style: none;
    padding-top: 20px;
   padding-left: 0;
}

li {
   
   margin-top: 5px;
}

a {
  
    color: green;
}